{{ partial "header.html" . }}

<div class="section" id="top"><!-- Parent section -->

<!-- Everything below fades in two! -->
<div class="section {{ if .Site.Params.fadein }} fade-in two {{ end }}">

    <div class="container"><!-- Begin Nav bar -->
    {{ partial "nav-single.html" . }}
    </div><!-- End Nav bar -->

    <div class="container {{ if .Site.Params.fadein }} fade-in two {{ end }}"><!-- Begin blog title container -->
        <h2 class="title is-1 top-pad strong-post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <div class="post-data">
                {{ .Date.Format .Site.Params.dateform }} |
                {{ if eq 1 .ReadingTime }}{{ .ReadingTime }} minute read{{ else }}{{ .ReadingTime }} minutes read{{ end }}
            </div>

            {{ if .Site.Params.sharebuttons }}
                <div class="blog-share">
                Share this:
                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Read%20{{ .Title }}%20{{ .Permalink }}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-twitter"></i>
                <span class="hidden">Twitter</span>
                </a>
                </div>
            {{ end }}

    </div><!-- End blog title container -->

    <div>
        Tags:
        <ul id="tags">
          {{ range .Params.tags }}
            <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
    </div>

    <div>
        Categories:
        <ul id="tags">
          {{ range .Params.categories }}
            <li><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
          {{ end }}
        </ul>
    </div>

    <div class="container markdown {{ if .Site.Params.fadein }} fade-in two {{ end }} top-pad"><!-- Begin blog post content -->
        {{ .Content }}
    </div><!-- End blog post content -->

    <div class="disqus">
        {{ template "_internal/disqus.html" . }}
    </div>

<div class="container has-text-centered top-pad">
<hr>
<a href="{{ .Permalink }}#top"><i class="fa fa-arrow-up"></i></a>
<hr>
</div>

{{ partial "footer.html" . }}
</div><!-- End fade in two -->
</div><!-- End parent section -->

<!-- Bitty scrolling links script -->
<script>
$('a[href^="{{ .Permalink }}#"]').click(function(e) {
    e.preventDefault();
    var target = this.hash;
    $('html, body').animate({
    scrollTop: $(target).offset().top
    }, 500);
    return false;
})
</script>
